.heroVisual {
  position: relative;
  width: 100%;
}

.heroVisual__heading {
  bottom: 0;
  color: #f5f5f5;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 16px #080103, 0 0 16px #080103, 0 0 16px #080103, 0 0 16px #080103, 0 0 16px #080103, 0 0 16px #080103;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .heroVisual__heading {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .heroVisual__heading {
    padding-bottom: 40px;
  }
}

.heroVisual__heading .en {
  display: block;
  font-family: "Cormorant Infant", serif;
}

@media screen and (min-width: 768px) {
  .heroVisual__heading .en {
    font-size: 30px;
    letter-spacing: .09em;
    line-height: 1;
  }
}

@media screen and (max-width: 768px) {
  .heroVisual__heading .en {
    font-size: 24px;
    letter-spacing: .09em;
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  .heroVisual__heading .jp {
    font-size: 14px;
    letter-spacing: .15em;
    line-height: calc(30 / 14);
  }
}

@media screen and (max-width: 768px) {
  .heroVisual__heading .jp {
    font-size: 12px;
  }
}

.heroVisual__picture, .heroVisual__image {
  width: 100%;
}

.heroVisual__capIn {
  bottom: 5px;
  position: absolute;
  right: 5px;
}

@media screen and (max-width: 768px) {
  .heroVisual__capIn {
    color: #666666;
    text-shadow: #ffffff 3px 3px 10px, #ffffff -3px 3px 10px, #ffffff 3px -3px 10px, #ffffff -3px -3px 10px, #ffffff 3px 3px 10px, #ffffff -3px 3px 10px, #ffffff 3px -3px 10px, #ffffff -3px -3px 10px, #ffffff 3px 3px 10px, #ffffff -3px 3px 10px, #ffffff 3px -3px 10px, #ffffff -3px -3px 10px, #ffffff 3px 3px 10px, #ffffff -3px 3px 10px, #ffffff 3px -3px 10px, #ffffff -3px -3px 10px;
  }
}

.currentPage--zeh .container {
  background-color: #ffffff;
  color: #333333;
}

@media screen and (min-width: 768px) {
  .zeh-txt {
    font-size: 14px;
    letter-spacing: .11em;
    line-height: 1.71429;
  }
  .zeh-txt:before {
    content: '';
    margin-top: calc((1 - 1.71429) * .5em);
  }
  .zeh-txt:after {
    margin-bottom: calc((1 - 1.71429) * .5em);
  }
  .zeh-txt:before, .zeh-txt:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-txt {
    font-size: 11px;
    letter-spacing: .07em;
    line-height: 1.90909;
  }
  .zeh-txt:before {
    content: '';
    margin-top: calc((1 - 1.90909) * .5em);
  }
  .zeh-txt:after {
    margin-bottom: calc((1 - 1.90909) * .5em);
  }
  .zeh-txt:before, .zeh-txt:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

.zeh-fullVisual {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.zeh-fullVisual .photo__image {
  width: 100%;
}

.zeh-fullVisual .photo__capOut {
  right: 10px;
}

.zeh-heroVisual {
  position: relative;
}

.zeh-heroVisual__heading {
  display: inline-block;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .zeh-heroVisual__heading {
    font-size: calc(29 / 1440 * 100vw);
    letter-spacing: .15em;
    line-height: 2.31034;
  }
  .zeh-heroVisual__heading:before {
    content: '';
    margin-top: calc((1 - 2.31034) * .5em);
  }
  .zeh-heroVisual__heading:after {
    margin-bottom: calc((1 - 2.31034) * .5em);
  }
  .zeh-heroVisual__heading:before, .zeh-heroVisual__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-heroVisual__heading {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 2.31034;
  }
  .zeh-heroVisual__heading:before {
    content: '';
    margin-top: calc((1 - 2.31034) * .5em);
  }
  .zeh-heroVisual__heading:after {
    margin-bottom: calc((1 - 2.31034) * .5em);
  }
  .zeh-heroVisual__heading:before, .zeh-heroVisual__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

.zeh-heroVisual__heading .en {
  font-family: "Cormorant Infant", serif;
  line-height: .7;
}

@media screen and (min-width: 768px) {
  .zeh-heroVisual__heading .en {
    font-size: calc(36 / 1440 * 100vw);
  }
}

@media screen and (max-width: 768px) {
  .zeh-heroVisual__heading .en {
    font-size: 22px;
  }
}

.zeh-heroVisual__picture, .zeh-heroVisual__image {
  width: 100%;
}

.zeh-heroVisual__inner {
  color: #ffffff;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .zeh-heroVisual__inner {
    left: 50%;
    text-align: right;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: calc(1000 / 1440 * 100vw);
  }
}

@media screen and (max-width: 768px) {
  .zeh-heroVisual__inner {
    right: 0;
    top: 115px;
    width: 220px;
  }
}

.zeh-heroVisual__capIn {
  bottom: 0;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .zeh-heroVisual__capIn {
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-heroVisual__capIn {
    right: 5px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-introduction {
    margin: 0 auto;
    padding-bottom: 80px;
    padding-top: 65px;
    width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-introduction {
    padding: 0 40px 50px;
  }
}

.zeh-intro__head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .zeh-intro__head + .zeh-intro__body {
    margin-top: 125px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro__head + .zeh-intro__body {
    margin-top: 65px;
  }
}

.zeh-intro__heading {
  color: #333333;
}

@media screen and (min-width: 768px) {
  .zeh-intro__heading {
    font-size: 28px;
    line-height: 1.71429;
  }
  .zeh-intro__heading:before {
    content: '';
    margin-top: calc((1 - 1.71429) * .5em);
  }
  .zeh-intro__heading:after {
    margin-bottom: calc((1 - 1.71429) * .5em);
  }
  .zeh-intro__heading:before, .zeh-intro__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro__heading {
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    line-height: 1.5;
  }
  .zeh-intro__heading:before {
    content: '';
    margin-top: calc((1 - 1.5) * .5em);
  }
  .zeh-intro__heading:after {
    margin-bottom: calc((1 - 1.5) * .5em);
  }
  .zeh-intro__heading:before, .zeh-intro__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (min-width: 768px) {
  .zeh-intro__logo {
    margin-right: 30px;
    width: 140px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro__logo {
    width: 70px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro__logo + .zeh-intro__heading {
    margin-top: 30px;
  }
}

.zeh-intro__body {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .zeh-intro__body {
    margin: 0 auto;
    width: 948px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-intro__body .photo {
    width: 554px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro__body .photo {
    margin: 0 calc(50% - 50vw);
    padding: 0 8px;
    width: 100vw;
  }
}

@media screen and (min-width: 768px) {
  .zeh-intro__body + .zeh-intro__subheading {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro__body + .zeh-intro__subheading {
    margin-top: 67.5px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-intro__body + .zeh-anchorNav {
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro__body + .zeh-anchorNav {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-intro__cont {
    width: 313px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-intro__cont .zeh-txt + .caption {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro__cont .zeh-txt + .caption {
    margin-top: 18px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro__cont + .photo {
    margin-top: 50px;
  }
}

.zeh-intro__subheading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .15em;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .zeh-intro__subheading {
    font-size: 32px;
    height: 100px;
    width: 484px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro__subheading {
    font-size: 20px;
    height: 50px;
    width: 100%;
  }
}

.zeh-intro__subheading .en {
  font-family: "Cormorant Infant", serif;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .zeh-intro__subheading .en {
    font-size: 42px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro__subheading .en {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-intro .zeh-anchorNav + .zeh-intro__subheading {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-intro .zeh-anchorNav + .zeh-intro__subheading {
    margin-top: 67.5px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-contentArea {
    margin: 0 auto;
    width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-contentArea {
    padding: 0 40px;
  }
}

.zeh-featureTtl {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .zeh-featureTtl {
    font-size: 28px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: .15em;
  }
}

@media screen and (max-width: 768px) {
  .zeh-featureTtl {
    font-size: 17px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    letter-spacing: .1em;
  }
}

@media screen and (min-width: 768px) {
  .zeh-featureTtl__icon {
    margin-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-featureTtl__icon {
    margin-right: 16px;
    width: 74px;
  }
}

.zeh-featureTtl .en {
  font-family: "Cormorant Infant", serif;
  line-height: .7;
}

@media screen and (min-width: 768px) {
  .zeh-featureTtl .en {
    font-size: 38px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-featureTtl .en {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-mainSect__head .zeh-fullVisual + .zeh-featureTtl {
    margin-top: 57px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-mainSect__head .zeh-fullVisual + .zeh-featureTtl {
    margin-top: 55px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-mainSect__head + .zeh-mainSect__content {
    margin-top: 57px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-mainSect__head + .zeh-mainSect__content {
    margin-top: 41px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-mainSect__content + .zeh-anchorNav {
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-mainSect__content + .zeh-anchorNav {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-mainSect + .zeh-mainSect,
  .zeh-mainSect + .zeh-explainSect {
    margin-top: 135px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-mainSect + .zeh-mainSect,
  .zeh-mainSect + .zeh-explainSect {
    margin-top: 90px;
  }
}

.zeh-generalSect__head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#81b8e6), to(#a69374));
  background-image: linear-gradient(90deg, #81b8e6 0%, #a69374 100%);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 140px;
}

@media screen and (max-width: 768px) {
  .zeh-generalSect__head {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .zeh-generalSect__head + .zeh-generalSect__cont {
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-generalSect__head + .zeh-generalSect__cont {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-generalSect__heading {
    font-size: 32px;
    letter-spacing: .15em;
    line-height: 1.5;
  }
  .zeh-generalSect__heading:before {
    content: '';
    margin-top: calc((1 - 1.5) * .5em);
  }
  .zeh-generalSect__heading:after {
    margin-bottom: calc((1 - 1.5) * .5em);
  }
  .zeh-generalSect__heading:before, .zeh-generalSect__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-generalSect__heading {
    font-size: 20px;
    letter-spacing: .15em;
    line-height: 1.5;
  }
  .zeh-generalSect__heading:before {
    content: '';
    margin-top: calc((1 - 1.5) * .5em);
  }
  .zeh-generalSect__heading:after {
    margin-bottom: calc((1 - 1.5) * .5em);
  }
  .zeh-generalSect__heading:before, .zeh-generalSect__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (min-width: 768px) {
  .zeh-generalSect__heading + .zeh-generalSect__subheading {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-generalSect__heading + .zeh-generalSect__subheading {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-generalSect__subheading {
    font-size: 18px;
    letter-spacing: .15em;
    line-height: 2.66667;
  }
  .zeh-generalSect__subheading:before {
    content: '';
    margin-top: calc((1 - 2.66667) * .5em);
  }
  .zeh-generalSect__subheading:after {
    margin-bottom: calc((1 - 2.66667) * .5em);
  }
  .zeh-generalSect__subheading:before, .zeh-generalSect__subheading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-generalSect__subheading {
    font-size: 12px;
    letter-spacing: .15em;
    line-height: 1.66667;
  }
  .zeh-generalSect__subheading:before {
    content: '';
    margin-top: calc((1 - 1.66667) * .5em);
  }
  .zeh-generalSect__subheading:after {
    margin-bottom: calc((1 - 1.66667) * .5em);
  }
  .zeh-generalSect__subheading:before, .zeh-generalSect__subheading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (min-width: 768px) {
  .zeh-generalSect + .zeh-generalSect {
    margin-top: 120px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-generalSect + .zeh-generalSect {
    margin-top: 60px;
  }
}

.zeh-meritTtl {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #88734f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.zeh-meritTtl:before {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#81b8e6), to(#a69374));
  background-image: linear-gradient(90deg, #81b8e6 0%, #a69374 100%);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
  content: "POINT " counter(meritOrder);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .zeh-meritTtl:before {
    border-radius: 18px;
    font-size: 20px;
    height: 36px;
    margin-right: 21px;
    width: 140px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-meritTtl:before {
    border-radius: 12.5px;
    font-size: 15px;
    height: 25px;
    margin: 0 auto 20px;
    width: 100px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-meritTtl__inner {
    font-size: 22px;
    letter-spacing: .1em;
    padding-bottom: 5px;
    line-height: 1.81818;
  }
  .zeh-meritTtl__inner:before {
    content: '';
    margin-top: calc((1 - 1.81818) * .5em);
  }
  .zeh-meritTtl__inner:after {
    margin-bottom: calc((1 - 1.81818) * .5em);
  }
  .zeh-meritTtl__inner:before, .zeh-meritTtl__inner:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-meritTtl__inner {
    font-size: 15px;
    letter-spacing: .15em;
    text-align: center;
    width: 100%;
    line-height: 1.66667;
  }
  .zeh-meritTtl__inner:before {
    content: '';
    margin-top: calc((1 - 1.66667) * .5em);
  }
  .zeh-meritTtl__inner:after {
    margin-bottom: calc((1 - 1.66667) * .5em);
  }
  .zeh-meritTtl__inner:before, .zeh-meritTtl__inner:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

.zeh-meritTtl--noPoint:before {
  content: none;
}

.zeh-compareGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .zeh-compareGallery .photo {
    width: 484px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-compareGallery .photo + .photo {
    margin-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-compareGallery + .zeh-txt {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-compareGallery + .zeh-txt {
    margin-top: 30px;
  }
}

.zeh-saving {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .zeh-saving__head {
    width: 657px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-saving__head .zeh-txt + .zeh-txt {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-saving__head .zeh-txt + .caption {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-saving__cont {
    width: 312px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-saving__cont {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-saving--m .zeh-saving__head, .zeh-saving--m .zeh-saving__cont {
    width: 484px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-loanTable__heading {
    font-size: 16px;
    line-height: 1.625;
  }
  .zeh-loanTable__heading:before {
    content: '';
    margin-top: calc((1 - 1.625) * .5em);
  }
  .zeh-loanTable__heading:after {
    margin-bottom: calc((1 - 1.625) * .5em);
  }
  .zeh-loanTable__heading:before, .zeh-loanTable__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-loanTable__heading {
    font-size: 11px;
    letter-spacing: 0;
    margin: 0 calc(50% - 50vw) 0;
    padding: 0 15px;
    width: 100vw;
    line-height: 1.63636;
  }
  .zeh-loanTable__heading:before {
    content: '';
    margin-top: calc((1 - 1.63636) * .5em);
  }
  .zeh-loanTable__heading:after {
    margin-bottom: calc((1 - 1.63636) * .5em);
  }
  .zeh-loanTable__heading:before, .zeh-loanTable__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (min-width: 768px) {
  .zeh-loanTable__heading + .zeh-loanTable__inner {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-loanTable__heading + .zeh-loanTable__inner {
    margin-top: 20px;
  }
}

.zeh-loanTable__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .zeh-loanTable__inner + .caption {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-loanTable__head {
    width: 660px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-loanTable__head {
    margin: 0 calc(50% - 50vw);
    padding: 0 15px;
    width: 100vw;
  }
}

.zeh-loanTable__cont {
  position: relative;
}

@media screen and (min-width: 768px) {
  .zeh-loanTable__cont {
    width: 312px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-loanTable__cont {
    margin-top: 50px;
  }
}

.zeh-loanTable__cont:before {
  border-style: solid;
  content: '';
  height: 0;
  position: absolute;
  width: 0;
}

@media screen and (min-width: 768px) {
  .zeh-loanTable__cont:before {
    border-color: transparent #7eaf2d transparent transparent;
    border-width: 19.5px 19px 19.5px 0;
    right: calc(100% + 7px);
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media screen and (max-width: 768px) {
  .zeh-loanTable__cont:before {
    border-color: #7eaf2d transparent transparent transparent;
    border-width: 16px 15.5px 0 15.5px;
    bottom: calc(100% + 15px);
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.zeh-lowCarbonBoard {
  border: 1px solid #999999;
}

@media screen and (min-width: 768px) {
  .zeh-lowCarbonBoard {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-lowCarbonBoard {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-lowCarbonBoard__list {
    font-size: 16px;
    line-height: 2.5;
  }
  .zeh-lowCarbonBoard__list:before {
    content: '';
    margin-top: calc((1 - 2.5) * .5em);
  }
  .zeh-lowCarbonBoard__list:after {
    margin-bottom: calc((1 - 2.5) * .5em);
  }
  .zeh-lowCarbonBoard__list:before, .zeh-lowCarbonBoard__list:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-lowCarbonBoard__list {
    font-size: 13px;
    line-height: calc(50/26);
  }
}

.zeh-lowCarbonBoard__item {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .zeh-lowCarbonBoard__item {
    letter-spacing: .15em;
  }
}

@media screen and (max-width: 768px) {
  .zeh-lowCarbonBoard__item {
    letter-spacing: .11em;
  }
}

@media screen and (min-width: 768px) {
  .zeh-lowCarbonBoard + .caption {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-lowCarbonBoard + .caption {
    margin-top: 10px;
  }
}

.zeh-subGeneralSect {
  counter-increment: meritOrder;
}

@media screen and (min-width: 768px) {
  .zeh-subGeneralSect__head + .zeh-subGeneralSect__cont {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-subGeneralSect__head + .zeh-subGeneralSect__cont {
    margin-top: 28px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-subGeneralSect__cont .zeh-txt + .zeh-loanTable,
  .zeh-subGeneralSect__cont .zeh-txt + .zeh-lowCarbonBoard {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-subGeneralSect__cont .zeh-txt + .zeh-loanTable,
  .zeh-subGeneralSect__cont .zeh-txt + .zeh-lowCarbonBoard {
    margin-top: 30px;
  }
}

.zeh-subGeneralSect__cont .photo__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .zeh-subGeneralSect + .zeh-subGeneralSect {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-subGeneralSect + .zeh-subGeneralSect {
    margin-top: 70px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-effectDetail .zeh-txt + .photo {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-effectDetail .zeh-txt + .photo {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-effectDetail + .zeh-effectDetail {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-effectDetail + .zeh-effectDetail {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-equipmentIllust .zeh-explainFigure--spSwipe .photo__image {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-equipmentIllust .zeh-explainFigure + .caption {
    margin-top: 10px;
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .zeh-equipmentIllust + .zeh-equipmentGallery {
    margin-top: 120px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-equipmentIllust + .zeh-equipmentGallery {
    margin-top: 100px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-equipmentIllust + .zeh-equipmentIllust {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-equipmentIllust + .zeh-equipmentIllust {
    margin-top: 30px;
  }
}

.zeh-equipmentGallery__inner {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .zeh-equipmentGallery__inner .zeh-equipmentCard {
    margin-right: 32px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-equipmentGallery__inner .zeh-equipmentCard:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .zeh-equipmentGallery__inner .zeh-equipmentCard:nth-of-type(n+4) {
    margin-top: 60px;
  }
}

.zeh-equipmentGallery__inner .zeh-equipmentCard:not(:last-of-type) {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .zeh-equipmentGallery__inner + .caption {
    margin-top: 70px;
  }
}

.zeh-equipmentCard__name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f8f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .zeh-equipmentCard__name {
    font-size: 16px;
    line-height: calc(26/16);
    margin-top: 20px;
    min-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-equipmentCard__name {
    font-size: 13px;
    line-height: calc(36/26);
    margin-top: 10px;
    min-height: 30px;
  }
}

.zeh-equipmentCard__name:before {
  background-color: #40818f;
  content: '';
}

@media screen and (min-width: 768px) {
  .zeh-equipmentCard__name:before {
    height: 15px;
    margin-right: 10px;
    width: 15px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-equipmentCard__name:before {
    height: 10px;
    margin-right: 14px;
    width: 10px;
  }
}

.zeh-equipmentCard__name + .caption {
  margin-top: 5px;
}

.zeh-equipmentCard--thermal .zeh-equipmentCard__name:before {
  background-color: #d18333;
}

.zeh-explainSect {
  text-align: center;
}

.zeh-explainSect__heading {
  letter-spacing: .15em;
}

@media screen and (min-width: 768px) {
  .zeh-explainSect__heading {
    font-size: 32px;
    line-height: 1.5;
  }
  .zeh-explainSect__heading:before {
    content: '';
    margin-top: calc((1 - 1.5) * .5em);
  }
  .zeh-explainSect__heading:after {
    margin-bottom: calc((1 - 1.5) * .5em);
  }
  .zeh-explainSect__heading:before, .zeh-explainSect__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainSect__heading {
    font-size: 20px;
    line-height: 1.2;
  }
  .zeh-explainSect__heading:before {
    content: '';
    margin-top: calc((1 - 1.2) * .5em);
  }
  .zeh-explainSect__heading:after {
    margin-bottom: calc((1 - 1.2) * .5em);
  }
  .zeh-explainSect__heading:before, .zeh-explainSect__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

.zeh-explainSect__heading .en {
  font-family: "Cormorant Infant", serif;
  line-height: .7;
}

@media screen and (min-width: 768px) {
  .zeh-explainSect__heading .en {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainSect__heading .en {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-explainSect__heading + .zeh-explainSect__subheading {
    margin-top: 32px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainSect__heading + .zeh-explainSect__subheading {
    margin-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-explainSect__heading + .zeh-txt {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainSect__heading + .zeh-txt {
    margin-top: 30px;
  }
}

.zeh-explainSect__subheading {
  color: #88734f;
}

@media screen and (min-width: 768px) {
  .zeh-explainSect__subheading {
    font-size: 22px;
    line-height: 1.81818;
  }
  .zeh-explainSect__subheading:before {
    content: '';
    margin-top: calc((1 - 1.81818) * .5em);
  }
  .zeh-explainSect__subheading:after {
    margin-bottom: calc((1 - 1.81818) * .5em);
  }
  .zeh-explainSect__subheading:before, .zeh-explainSect__subheading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainSect__subheading {
    font-size: 15px;
    line-height: 1.66667;
  }
  .zeh-explainSect__subheading:before {
    content: '';
    margin-top: calc((1 - 1.66667) * .5em);
  }
  .zeh-explainSect__subheading:after {
    margin-bottom: calc((1 - 1.66667) * .5em);
  }
  .zeh-explainSect__subheading:before, .zeh-explainSect__subheading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainSect .zeh-txt {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainSect .zeh-explainFigure--spSwipe .photo__image {
    height: 324px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-explainSect .zeh-explainSect__subheading + .zeh-explainFigure,
  .zeh-explainSect .zeh-txt + .zeh-explainFigure {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainSect .zeh-explainSect__subheading + .zeh-explainFigure,
  .zeh-explainSect .zeh-txt + .zeh-explainFigure {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-explainSect .zeh-fullVisual + .zeh-explainSect__heading {
    margin-top: 95px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainSect .zeh-fullVisual + .zeh-explainSect__heading {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-explainSect + .zeh-explainSect {
    margin-top: 120px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainSect + .zeh-explainSect {
    margin-top: 60px;
  }
}

.zeh-explainFigure {
  position: relative;
}

@media screen and (max-width: 768px) {
  .zeh-explainFigure {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }
}

.zeh-explainFigure__spIcon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .zeh-explainFigure__spIcon {
    display: none;
  }
}

.zeh-explainFigure__spIcon .swipeSVG {
  width: 23px;
}

@media screen and (max-width: 768px) {
  .zeh-explainFigure .photo__capOut {
    right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainFigure--spSwipe {
    padding: 0 0 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainFigure--spSwipe .photo {
    overflow: scroll;
  }
}

@media screen and (max-width: 768px) {
  .zeh-explainFigure--spSwipe .photo__image {
    max-width: unset;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .zeh-guidance {
    padding: 0 0 140px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-guidance {
    padding: 0 0 130px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-zeroEnergy {
    padding: 0 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-zeroEnergy {
    padding: 0 0 130px;
  }
}

.zeh-co2 {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .zeh-co2 {
    padding: 60px 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-co2 {
    padding: 50px 0;
  }
}

.zeh-co2:before {
  background: -webkit-gradient(linear, left top, right top, from(#5fade0), to(#b0976f));
  background: linear-gradient(90deg, #5fade0 0%, #b0976f 100%);
  content: '';
  height: 100%;
  left: 50%;
  opacity: .1;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100vw;
  z-index: -1;
}

.zeh-co2Sect__heading {
  letter-spacing: .13em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .zeh-co2Sect__heading {
    font-size: 22px;
    line-height: 1.45455;
  }
  .zeh-co2Sect__heading:before {
    content: '';
    margin-top: calc((1 - 1.45455) * .5em);
  }
  .zeh-co2Sect__heading:after {
    margin-bottom: calc((1 - 1.45455) * .5em);
  }
  .zeh-co2Sect__heading:before, .zeh-co2Sect__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-co2Sect__heading {
    font-size: 15px;
    line-height: 1.5;
  }
  .zeh-co2Sect__heading:before {
    content: '';
    margin-top: calc((1 - 1.5) * .5em);
  }
  .zeh-co2Sect__heading:after {
    margin-bottom: calc((1 - 1.5) * .5em);
  }
  .zeh-co2Sect__heading:before, .zeh-co2Sect__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (min-width: 768px) {
  .zeh-co2Sect__heading .strong {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-co2Sect__heading .strong {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-co2Sect__heading + .zeh-boxSect {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-co2Sect__heading + .zeh-boxSect {
    margin-top: 50px;
  }
}

.zeh-boxSect {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .zeh-boxSect {
    padding: 60px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-boxSect {
    margin: 0 -20px;
    padding: 35px 20px 50px;
    width: 335px;
  }
}

.zeh-boxSect__head {
  text-align: center;
}

.zeh-boxSect__heading {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .zeh-boxSect__heading {
    width: 481px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-boxSect__heading {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-boxSect__heading + .zeh-txt {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-boxSect__heading + .zeh-txt {
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-boxSect__cont {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .zehPolicy {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
}

.zehPolicy__term {
  font-weight: 700;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .zehPolicy__term {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .zehPolicy__term {
    font-size: 13px;
  }
}

.zehPolicy__desc {
  position: relative;
}

@media screen and (min-width: 768px) {
  .zehPolicy__desc {
    padding-bottom: 5px;
    padding-left: 36px;
    padding-top: 5px;
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .zehPolicy__desc {
    margin-top: 20px;
    padding-top: 20px;
  }
}

.zehPolicy__desc:before {
  background-color: #cccccc;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 768px) {
  .zehPolicy__desc:before {
    height: 100%;
    width: 1px;
  }
}

@media screen and (max-width: 768px) {
  .zehPolicy__desc:before {
    height: 1px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .zehPolicy__list {
    font-size: 14px;
    line-height: 2.57143;
  }
  .zehPolicy__list:before {
    content: '';
    margin-top: calc((1 - 2.57143) * .5em);
  }
  .zehPolicy__list:after {
    margin-bottom: calc((1 - 2.57143) * .5em);
  }
  .zehPolicy__list:before, .zehPolicy__list:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zehPolicy__list {
    font-size: 11px;
    line-height: 1.90909;
  }
  .zehPolicy__list:before {
    content: '';
    margin-top: calc((1 - 1.90909) * .5em);
  }
  .zehPolicy__list:after {
    margin-bottom: calc((1 - 1.90909) * .5em);
  }
  .zehPolicy__list:before, .zehPolicy__list:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

.zehPolicy__item {
  counter-increment: policyOrder;
  position: relative;
}

@media screen and (min-width: 768px) {
  .zehPolicy__item {
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .zehPolicy__item {
    padding-left: 20px;
  }
}

.zehPolicy__item:before {
  content: "(" counter(policyOrder) ")";
  left: 0;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 768px) {
  .zehPolicy + .zeh-linkBtn {
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .zehPolicy + .zeh-linkBtn {
    margin-top: 40px;
  }
}

.zeh-linkBtn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #666666;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .zeh-linkBtn {
    font-size: 14px;
    height: 40px;
    width: 360px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-linkBtn {
    font-size: 12px;
    height: 30px;
    width: 100%;
  }
}

.zeh-linkBtn__capIn {
  left: 0;
  position: absolute;
  top: 100%;
}

.zeh-linkBtn .externalSVG {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media screen and (min-width: 768px) {
  .zeh-linkBtn .externalSVG {
    right: 20px;
    width: 16px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-linkBtn .externalSVG {
    right: 10px;
    width: 12px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-developer {
    padding: 100px 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-developer {
    padding: 60px 0;
  }
}

.zeh-developerSect {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .zeh-developerSect__head {
    margin-left: 23px;
    width: 188px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-developerSect__head {
    margin: 0 auto;
    width: 110px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-developerSect__head + .zeh-developerSect__cont {
    margin-top: 15px;
  }
}

.zeh-developerSect__heading {
  color: #88734f;
}

@media screen and (min-width: 768px) {
  .zeh-developerSect__heading {
    font-size: 22px;
    line-height: 1.81818;
  }
  .zeh-developerSect__heading:before {
    content: '';
    margin-top: calc((1 - 1.81818) * .5em);
  }
  .zeh-developerSect__heading:after {
    margin-bottom: calc((1 - 1.81818) * .5em);
  }
  .zeh-developerSect__heading:before, .zeh-developerSect__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .zeh-developerSect__heading {
    font-size: 15px;
    text-align: center;
    line-height: 1.66667;
  }
  .zeh-developerSect__heading:before {
    content: '';
    margin-top: calc((1 - 1.66667) * .5em);
  }
  .zeh-developerSect__heading:after {
    margin-bottom: calc((1 - 1.66667) * .5em);
  }
  .zeh-developerSect__heading:before, .zeh-developerSect__heading:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
}

@media screen and (min-width: 768px) {
  .zeh-developerSect__heading + .zeh-txt {
    margin-top: 32px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-developerSect__heading + .zeh-txt {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-developerSect__cont {
    width: 742px;
  }
}

.zeh-anchorNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.zeh-anchorNav__item {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .zeh-anchorNav__item {
    height: 56px;
    width: 480px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-anchorNav__item {
    min-height: 58px;
    width: 295px;
  }
}

@media screen and (min-width: 768px) {
  .zeh-anchorNav__item:nth-of-type(n+3) {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-anchorNav__item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.zeh-anchorNav__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#82bbb1), to(#94ad5f));
  background: linear-gradient(90deg, #82bbb1 0%, #94ad5f 100%);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .15em;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .zeh-anchorNav__link {
    font-size: 16px;
    line-height: calc(48 / 18);
  }
  .zeh-anchorNav__link:hover {
    opacity: .7;
  }
}

@media screen and (max-width: 768px) {
  .zeh-anchorNav__link {
    font-size: 12px;
    line-height: calc(32 / 24);
    padding-right: 40px;
    text-align: center;
  }
}

.zeh-anchorNav__link .arrowSVG {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media screen and (min-width: 768px) {
  .zeh-anchorNav__link .arrowSVG {
    right: 25px;
  }
}

@media screen and (max-width: 768px) {
  .zeh-anchorNav__link .arrowSVG {
    right: 20px;
    width: 25px;
  }
}
